<!-- Start Breadcrumb Area -->
<div class="breadcrumb-image rn-bg-color ptb--120 bg_image bg_image--1">
  <img
    class="cnt-img"
    src="./../../../assets/images/contact-us/contact-us123.jpg"
    alt=""
  />
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-inner pt--100">
          <h1 class="title theme-gradient breadcrumb-tf">Contact Us</h1>
          <p class="font-new-1 text-padding-new-1">
            We are readily available to take and answer any of your questions or
            inquiries to ensure you have a clear understanding of our product
            and services.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb Area -->
<div class="bg-color-black">
<div class="container">
  <div class="row">
    <div class="container-contact">
      <section class="parent-1">
        <section class="child-1">
          <div class="time">
            <div class="contactus-img">
              <!-- src="https://themify.me/demo/themes/ultra-agency3/files/2019/06/contact-us-image.jpg" -->
              <img
                src="../../../assets/images/contact-us/contct.jpg"
                alt="shout us"
              />
            </div>
            <br />
            <h1 class="contact-paragraph">Give Us a Shout!</h1>
            <p style="color: white">
              If you have any unanswered questions, you can give us a shout and
              we will be at your service. Our experts are always available to
              assist you. At VR Labs, we are all about virtual reality and
              events. This displays in the degree of service and attention that
              we extend to our clients. We exist to assist you in creating a
              favorable solution to match your various desires. You can always
              count on VR Labs.
            </p>
          </div>
        </section>
        <section class="child-1">
          <div class="frm">
            <form
              action="../php/Appointment.php"
              method="post"
              onsubmit="chkPattern()"
              autocomplete="off"
            >
              <h2 class="heading">Fields marked with an * are required</h2>

              <div class="frmfield">
                <label>Name *</label>
                <input type="text" name="CusName" size="80px" required />
              </div>

              <div class="frmfield">
                <p>E-mail *</p>
                <input
                  id="mail"
                  type="email"
                  name="CusEmail"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  required
                />
              </div>

              <div class="frmfield">
                <p>Message *</p>
                <textarea name="" id="" cols="30" rows="10"></textarea>
              </div>

              <button class="btn" name="apomnt">Submit</button>
            </form>
          </div>
        </section>
      </section>
    </div>
  </div>
</div>
</div>
