<!-- Start Breadcrumb Area -->
<div class="breadcrumb-image rn-bg-color ptb--120 bg_image bg_image--1">
    <img class="cnt-img" src="./../../../assets/images/contact-us/contact-us123.jpg" alt="">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-inner pt--100">
            <h2 class="title theme-gradient breadcrumb-tf">widda</h2>
            <p class="font-new-1 text-padding-new-1">
                <!--Widda is a VR Archery Game crafted mainly for the Oculus Rift. Widda in English means “The Shooter”.-->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumb Area -->


  <div class="container">
      <div class="row">

        <div class="module module-text tb_w837876 font-new-2">
            <div class="tb_text_wrap-widda">
                <h2 class="post-title" style="text-align: center; padding-top: 60px;"><strong><b>Widda</b></strong></h2>
                <p style="text-align: center;">Widda is a VR Archery Game crafted mainly for the Oculus Rift. 
                    Widda in English means “The Shooter”</p>
                <p style="text-align: center;">In this game, players are opportune to combine their techniques, 
                    intelligence, and strategy at its best for a fierce and intense clash against the Troll King 
                    and his army. You are required to build towers to help protect your castle and also put your 
                    bow and arrow techniques to use against the waves of the Troll King and his army. Enemies come 
                    like waves, so depending on the player’s skill, the player can score points and be able to move 
                    forward. If you think you have what it takes to protect your kingdom, then come along and test 
                    your skills in Widda on fully functional VR devices.</p>
                <p style="text-align: center;">We also intend to release this game on Steam and Oculus store as well 
                    as do custom modifications based on any client’s various desires. If a company desires to promote 
                    its event with the Widda VR game. We can modify the game according to their requirements and 
                    transform it to be used as marketing material in their event.</p>
                <p style="text-align: center;">&nbsp;</p>    
            </div>
        </div>


    <iframe style="padding: 80px 40px;" src="https://www.youtube.com/embed/tCIRqcPTUBg?autohide=1&amp;border=0&amp;wmode=opaque&amp;enablejsapi=1" 
            allowfullscreen="" frameborder="0">
    </iframe>

    <iframe style="padding: 80px 40px;" src="https://www.youtube.com/embed/-6uqG16Rl_o?autohide=1&amp;border=0&amp;wmode=opaque&amp;enablejsapi=1" 
            allowfullscreen="" frameborder="0">
    </iframe>




    <div class="row font-new-1" style="display: flex; text-align: left; padding: 30px 30px 0px 40px;">
        <div class="sub_column module_column col3-1 first sub_column_post_216 sub_column_2-0-0-0 tb_45m6557"> 
            <div class="tb-column-inner">
        <!-- module text -->
        <div class="module module-text tb_7oky557    ">
            <div class="tb_text_wrap">
            <div id="block-yui_3_17_2_3_1500576123909_163128" class="sqs-block html-block sqs-block-html" data-block-type="2">
            <div class="sqs-block-content">
            <div class="post-content">
                <p style="padding-right: 30px;"><strong>Story</strong><br>The player needs to defend the<br> castle using bow and arrow by killing enemies</p>
                <p><strong>Platform</strong></p>
                <ul>
                    <li>PC / Oculus Rift</li>
                </ul>
                <p style="text-align: center;">&nbsp;</p>
            </div>
            </div>
            </div>    
            </div>
        </div>
        <!-- /module text -->
        </div>
        </div>
        <div class="sub_column module_column col3-1 middle sub_column_post_216 sub_column_2-0-0-1 tb_ywyj558"> 
            <div class="tb-column-inner">
            <!-- module text -->
                <div class="module module-text tb_3l89558    ">
                    <div class="tb_text_wrap">
                        <div id="block-yui_3_17_2_3_1500576123909_163128" class="sqs-block html-block sqs-block-html" data-block-type="2">
                            <div class="sqs-block-content">
                                <div class="post-content">
                                    <p><strong>Main Functions</strong></p>
                                    <ul>
                                        <li>Animated interface</li>
                                        <li>Custom VR hands</li>
                                        <li>Bow and arrow movement for the rift</li>
                                        <li>Different types of arrows (normal, high damage)</li>
                                        <li>Explosive bombs</li>
                                        <li>Different enemies</li>
                                        <li>Particles</li>
                                        <li>Haptic feedback</li>
                                        <li>Optimized lighting and models</li>
                                        <li>Health/Score/Level management</li>
                                        <li>3D sounds and many more…</li>
                                    </ul>
                                    <p style="text-align: center;">&nbsp;</p>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            <!-- /module text -->
            </div>
        </div>
        <div class="sub_column module_column col3-1 last sub_column_post_216 sub_column_2-0-0-2 tb_hq5a558"> 
            <div class="tb-column-inner">
        <!-- module text -->
        <div class="module module-text tb_6ssp558    ">
        <div class="tb_text_wrap">
        <div id="block-yui_3_17_2_3_1500576123909_163128" class="sqs-block html-block sqs-block-html" data-block-type="2">
        <div class="sqs-block-content">
        <div class="post-content">
        <p><strong>Used Software’s</strong></p>
        <ul>
        <li>Unity 3D</li>
        <li>Auto desk Maya</li>
        <li>Auto desk 3DS Max</li>
        <li>Adobe Photoshop</li>
        <li>Adobe Audition</li>
        <li>FL Studio</li>
        </ul>
        <p style="text-align: center;">&nbsp;</p>
        </div>
        </div>
        </div>    
        </div>
        </div>
        <!-- /module text -->
        </div>
        </div>
    </div>

    <style>
        
    </style>

      </div>
  </div>

  <div class="container img-sld">
      <owl-carousel [options]="homeSlider" [carouselClasses]="['owl-theme', 'customClassName']">
          <div class="slide-item">
               <img src="https://mlqlv2ff9dvh.i.optimole.com/cqm_128-aI6X9t7c/w:1024/h:520/q:auto/https://vrlabs.lk/wp-content/uploads/2021/02/Pannel-Discussion.jpg" alt="">
           </div>
           <div class="slide-item">
               <img src="https://mlqlv2ff9dvh.i.optimole.com/cqm_128-dLHQQDja/w:1024/h:540/q:auto/https://vrlabs.lk/wp-content/uploads/2021/02/1.jpg" alt="">
            </div>
            <div class="slide-item">
                <img src="https://mlqlv2ff9dvh.i.optimole.com/cqm_128-bav1eKFf/w:1024/h:540/q:auto/https://vrlabs.lk/wp-content/uploads/2021/02/2.jpg" alt="">
            </div>
            <div class="slide-item">
                <img src="https://mlqlv2ff9dvh.i.optimole.com/cqm_128-iVGMiqr3/w:800/h:600/q:auto/https://vrlabs.lk/wp-content/uploads/2021/02/GamePlay.jpg" alt="">
            </div>
      </owl-carousel>
  </div>


    