<!-- start Slider area -->
<div class="slider-wrapper">
  <div class="slider-activation">
    <div
      class="
        slide slide-style-1
        slider-fixed--height
        d-flex
        align-items-center
        bg_image bg_image--1
      "
      data-black-overlay="8"
    >
      <div class="container position-relative">
        <div class="row">
          <div class="col-lg-12">
            <div class="inner">
              <h1 class="title theme-gradient">
                Let’s Create Your IMMERSIVE EXPERIENCE
              </h1>
            </div>
          </div>
        </div>
        <div class="service-wrapper service-white">
          <div class="row row--25">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="service service__style--1">
                <div class="icon">
                  <i
                    data-feather="cast"
                    class="fa fa-3x fa-shapes text-primary sr-icons"
                  ></i>
                </div>
                <div class="content">
                  <h4 class="title">AR & VR Immersive Experiences</h4>
                  <p>
                    AR & VR experiences created to enhance your marketing and
                    sales
                  </p>
                  <!-- <p>
                      We offer standard and professional readily available AR/VR productions to
                      suit your operations.
                    </p> -->
                  <!-- Imagine a VR where your display and control system is nothing more than an interactive digital
                      element to your operation.  -->
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="service service__style--1">
                <div class="icon">
                  <i
                    data-feather="cast"
                    class="fa fa-3x fa-globe text-danger sr-icons"
                  ></i>
                </div>
                <div class="content">
                  <h4 class="title">360° Video Production</h4>
                  <p>Shoot and edit in 3D (stereoscopic) and 360</p>
                  <!-- <p>
                      With 360 video production, we can engage your guests with highly captivating experiences of a
                      real-world on major social media platforms.
                    </p> -->
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="service service__style--1">
                <div class="icon">
                  <i
                    data-feather="cast"
                    class="fa fa-3x fa-window-restore text-warning sr-icons"
                  ></i>
                </div>
                <div class="content">
                  <h4 class="title">Web/Mobile App Development</h4>
                  <p>
                    Deliver a wide range of web and mobile solutions across
                    different domains
                  </p>
                  <!-- <p>
                      We can bring your imaginations to life with standard designs,
                      distribution, applications, and with effective development techniques.
                    </p> -->
                  <!-- If you need to rent any
                      VR device and also require a custom application for that device, then you are at the right place. -->
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
              <div class="service service__style--1">
                <div class="icon">
                  <i
                    data-feather="cast"
                    class="fa fa-3x fa-gamepad text-success sr-icons"
                  ></i>
                </div>
                <div class="content">
                  <h4 class="title">Gaming and VR Units Rental</h4>
                  <p>
                    VR and Gaming units rental with 100% support and
                    compatibility
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end Slider Area -->

<!-- start about area -->
<div class="about-area ptb--120 bg_color--1">
  <div class="about-wrapper">
    <div class="container">
      <div class="row row--35 align-items-center">
        <div class="col-lg-5 col-md-12">
          <div class="thumbnail">
            <img
              class="w-100"
              src="assets/images/vrl/home_2.jpg"
              alt="VR at stall"
            />
          </div>
        </div>
        <div class="col-lg-7 col-md-12">
          <div class="about-inner inner">
            <div class="section-title">
              <div class="icon">
                <i data-feather="cast" class="fa fa-paper-plane sr-icons"></i>
              </div>
              <h2 class="title">WORKING WITH VR</h2>
              <p class="description">
                The technology industry is never satisfied, and this is no
                longer a secret. Virtual Reality (VR) is undoubtedly a trending
                scientific breakthrough technology. VR is a technology by which
                computer-aided stimuli create the fascinating illusion of being
                somewhere else.
              </p>
              <p class="description">
                Isn't it great? Well, it is greater to include it into your
                operations or events. VR helps ensure that your events or
                operations are fun-packed, interesting, and engaging. It most of
                all persuades the guests to develop interests in the event or
                operation being carried out.
              </p>
              <!-- <div class="purchase-btn">
                  <a class="btn-transparent" href="index.html">PURCHASE IMROZ</a>
                </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End about area -->

<!-- start Services Area -->
<app-panel></app-panel>
<!-- End Services Area -->

<!-- Start Portfolio area -->
<div class="portfolio-area ptb--120 bg_color--1">
  <div class="portfolio-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <span class="subtitle">Our projects</span>
            <h2 class="title">Some of our Recent Work</h2>
            <p class="description">
              Let us help you catapult your idea into a reality. There’s no
              better day than today.
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-4 sercice-details-content align-items-center">
        <div class="col-lg-6">
          <div class="thumb position-relative">
            <!-- <img
                class="w-100"
                src="assets/images/vrl/video_1.jpg"
                alt="Widda Game Intro"
              /> -->
            <!-- <a
                href="https://www.youtube.com/watch?v=tCIRqcPTUBg"
                class="play__btn video-popup position-top-center theme-color"
                ><span class="play-icon"></span>
              </a> -->
            <iframe
              width="560"
              height="315"
              src="https://www.youtube-nocookie.com/embed/tCIRqcPTUBg?controls=0"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <div style="width: 200px; margin: 0 auto">
            <a
              target="_blank"
              href="https://play.google.com/store/apps/details?id=com.VRLABS.VRLABSAR&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
              ><img
                alt="Get it on Google Play"
                src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
            /></a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="thumb position-relative">
            <!-- <img
                class="w-100"
                src="assets/images/portfolio/portfolio-big-03.jpg"
                alt="Service Images"
              />
              <a
                href="https://www.youtube.com/watch?v=ZOoVOfieAF8"
                class="play__btn video-popup position-top-center theme-color"
                ><span class="play-icon"></span>
              </a> -->
            <iframe
              width="560"
              height="315"
              src="https://www.youtube-nocookie.com/embed/ngs0aXecHiA?controls=0"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <div style="width: 200px; margin: 0 auto">
            <a
              target="_blank"
              href="https://play.google.com/store/apps/details?id=com.VRLabs.AnimalPuzzle&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
              ><img
                alt="Get it on Google Play"
                src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
            /></a>
          </div>
        </div>
      </div>

      <div class="row mt--30">
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
          <div class="im_portfolio">
            <div class="thumbnail_inner">
              <div class="thumbnail">
                <a href="portfolio-details.html">
                  <img
                    src="assets/images/vrl/event_1.jpg"
                    alt="Virtual Exhibition"
                  />
                </a>
              </div>
            </div>
            <div class="content">
              <div class="inner">
                <div class="portfolio_heading">
                  <div class="category_list">
                    <a href="portfolio-details.html">Virtual Exhibition</a>
                  </div>
                  <h4 class="title">
                    <a href="portfolio-details.html"
                      >COAISL 2021 Virtual Conference</a
                    >
                  </h4>
                </div>
                <div class="portfolio_hover">
                  <p>
                    Virtual Conventions Centre with Interactive Exhibition Area
                  </p>
                </div>
              </div>
            </div>
            <a class="transparent_link" href="portfolio-details.html"></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
          <div class="im_portfolio">
            <div class="thumbnail_inner">
              <div class="thumbnail">
                <a href="portfolio-details.html">
                  <img
                    src="assets/images/vrl/event_2.jpg"
                    alt="VR Unit Rental"
                  />
                </a>
              </div>
            </div>
            <div class="content">
              <div class="inner">
                <div class="portfolio_heading">
                  <div class="category_list">
                    <a href="portfolio-details.html">VR Unit Rental</a>
                  </div>
                  <h4 class="title">
                    <a href="portfolio-details.html">VR Game Arena at BMICH</a>
                  </h4>
                </div>
                <div class="portfolio_hover">
                  <p>VR gaming units and compatible PC and support</p>
                </div>
              </div>
            </div>
            <a class="transparent_link" href="portfolio-details.html"></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
          <div class="im_portfolio">
            <div class="thumbnail_inner">
              <div class="thumbnail">
                <a href="portfolio-details.html">
                  <img
                    src="assets/images/vrl/event_3.jpg"
                    alt="AR App Development"
                  />
                </a>
              </div>
            </div>
            <div class="content">
              <div class="inner">
                <div class="portfolio_heading">
                  <div class="category_list">
                    <a href="portfolio-details.html">AR App Development</a>
                  </div>
                  <h4 class="title">
                    <a href="portfolio-details.html">Samata Sewana AR</a>
                  </h4>
                </div>
                <div class="portfolio_hover">
                  <p>An AR App built to show the model houses</p>
                </div>
              </div>
            </div>
            <a class="transparent_link" href="portfolio-details.html"></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
          <div class="im_portfolio">
            <div class="thumbnail_inner">
              <div class="thumbnail">
                <a href="portfolio-details.html">
                  <img
                    src="assets/images/vrl/event_4.jpg"
                    alt="VR Unit Rental"
                  />
                </a>
              </div>
            </div>
            <div class="content">
              <div class="inner">
                <div class="portfolio_heading">
                  <div class="category_list">
                    <a href="portfolio-details.html">VR Unit Rental</a>
                  </div>
                  <h4 class="title">
                    <a href="portfolio-details.html">IDP Events</a>
                  </h4>
                </div>
                <div class="portfolio_hover">
                  <p>Samsung GearVRs are used to give users virtual tours</p>
                </div>
              </div>
            </div>
            <a class="transparent_link" href="portfolio-details.html"></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
          <div class="im_portfolio">
            <div class="thumbnail_inner">
              <div class="thumbnail">
                <a href="portfolio-details.html">
                  <img
                    src="assets/images/vrl/event_5.jpg"
                    alt="VR Unit Rental"
                  />
                </a>
              </div>
            </div>
            <div class="content">
              <div class="inner">
                <div class="portfolio_heading">
                  <div class="category_list">
                    <a href="portfolio-details.html">VR Unit Rental</a>
                  </div>
                  <h4 class="title">
                    <a href="portfolio-details.html">Atlas Stall at BMICH</a>
                  </h4>
                </div>
                <div class="portfolio_hover">
                  <p>
                    VR headsets with gaming units to provide 3D painting
                    experience
                  </p>
                </div>
              </div>
            </div>
            <a class="transparent_link" href="portfolio-details.html"></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
          <div class="im_portfolio">
            <div class="thumbnail_inner">
              <div class="thumbnail">
                <a href="portfolio-details.html">
                  <img
                    src="assets/images/vrl/event_6.jpg"
                    alt="VR Experiences"
                  />
                </a>
              </div>
            </div>
            <div class="content">
              <div class="inner">
                <div class="portfolio_heading">
                  <div class="category_list">
                    <a href="portfolio-details.html">VR Experiences</a>
                  </div>
                  <h4 class="title">
                    <a href="portfolio-details.html"
                      >Interactive VR game for Hemas</a
                    >
                  </h4>
                </div>
                <div class="portfolio_hover">
                  <p>VR game experience with custom built leaderboard</p>
                </div>
              </div>
            </div>
            <a class="transparent_link" href="portfolio-details.html"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Portfolio area -->

<!-- counter up section -->
<div class="rn-counterup-area ptb--120 bg_color--5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <span class="subtitle">Experts in growth</span>
          <h2 class="title">Our Company Growth</h2>
          <p class="description">
            We have grown strength over the past 5 years.
          </p>
        </div>
      </div>
    </div>
    <div class="row mt--30">
      <div class="im_single_counterup col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="im_counterup">
          <div class="inner">
            <div class="icon">
              <i
                data-feather="monitor"
                class="fa fa-2x fa-heart text-danger sr-icons"
              ></i>
            </div>
            <h2 class="counter"><span>24</span></h2>
            <p class="description text-secondary">Staticfied Customers</p>
          </div>
        </div>
      </div>
      <div class="im_single_counterup col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="im_counterup">
          <div class="inner">
            <div class="icon">
              <i
                data-feather="monitor"
                class="fa fa-2x fa-clock text-primary sr-icons"
              ></i>
            </div>
            <h2 class="counter">
              <span>100</span>
            </h2>
            <p class="description text-secondary">Days Of Operation</p>
          </div>
        </div>
      </div>
      <div class="im_single_counterup col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="im_counterup">
          <div class="inner">
            <div class="icon">
              <i
                data-feather="monitor"
                class="fa fa-2x fa-chart-pie text-warning sr-icons"
              ></i>
            </div>
            <h2 class="counter"><span>19</span></h2>
            <p class="description text-secondary">Complete Project</p>
          </div>
        </div>
      </div>
      <div class="im_single_counterup col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="im_counterup">
          <div class="inner">
            <div class="icon">
              <i
                data-feather="monitor"
                class="fa fa-2x fa-calendar-alt text-success sr-icons"
              ></i>
            </div>
            <h2 class="counter"><span>16</span></h2>
            <p class="description text-secondary">Events</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- counter up section  end-->

<!-- google maps -->
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37681.0965924638!2d79.85761846144337!3d6.921965481085407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae253d10f7a7003%3A0x320b2e4d32d3838d!2sColombo!5e0!3m2!1sen!2slk!4v1622283169287!5m2!1sen!2slk"
  width="100%"
  height="550"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
></iframe>
<!-- End google maps -->

<!-- rn  blog area -->
<!-- <div class="rn-blog-area ptb--120 bg_color--5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="section-title text-center">
            <span class="subtitle">what's stories on</span>
            <h2 class="title">Latest News</h2>
            <p class="description">There are many variations of passages of Lorem Ipsum available, <br> but the majority
              have suffered alteration.</p>
          </div>
        </div>
      </div>
      <div class="row mt--30 mt_sm--40">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="im_box mt--30">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img class="w-100" src="assets/images/blog/blog-01.jpg" alt="Blog Images">
              </a>
            </div>
            <div class="content">
              <div class="inner">
                <div class="content_heading">
                  <div class="category_list">
                    <a href="portfolio-details.html">App Development</a>
                  </div>
                  <h4 class="title">
                    <a href="blog-details.html">What is the Difference between Web and Brand.</a>
                  </h4>
                </div>
                <div class="content_footer">
                  <a class="rn-btn btn-opacity" href="blog-details.html">Read More</a>
                </div>
              </div>
              <a class="transparent_link" href="blog-details.html"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="im_box mt--30">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img class="w-100" src="assets/images/blog/blog-02.jpg" alt="Blog Images">
              </a>
            </div>
            <div class="content">
              <div class="inner">
                <div class="content_heading">
                  <div class="category_list">
                    <a href="portfolio-details.html">React App</a>
                  </div>
                  <h4 class="title">
                    <a href="blog-details.html">A big ticket gone to be an interesting look New York.</a>
                  </h4>
                </div>
                <div class="content_footer">
                  <a class="rn-btn btn-opacity" href="blog-details.html">Read More</a>
                </div>
              </div>
              <a class="transparent_link" href="blog-details.html"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="im_box mt--30">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img class="w-100" src="assets/images/blog/blog-03.jpg" alt="Blog Images">
              </a>
            </div>
            <div class="content">
              <div class="inner">
                <div class="content_heading">
                  <div class="category_list">
                    <a href="portfolio-details.html">Photoshop</a>
                  </div>
                  <h4 class="title">
                    <a href="blog-details.html">Getting tickets to the big show have a closer look.</a>
                  </h4>
                </div>
                <div class="content_footer">
                  <a class="rn-btn btn-opacity" href="blog-details.html">Read More</a>
                </div>
              </div>
              <a class="transparent_link" href="blog-details.html"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- rn  blog area end -->

<!-- Start breand area -->
<div class="rn-brand-area ptb--120 bg_color--1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="section-title text-center mb--30">
          <span class="subtitle">Top clients</span>
          <h2 class="title">We worked with brands.</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mt--20">
        <ul class="brand-style-2">
          <!-- Start Single Brands -->
          <li>
            <img
              class="pt-4"
              src="assets/images/brand/idp-logo.svg"
              alt="IDP Sri Lanka"
            />
          </li>
          <!-- End Single Brands -->

          <!-- Start Single Brands -->
          <li>
            <img src="assets/images/brand/dialog-logo.svg" alt="Dialog" />
          </li>
          <!-- End Single Brands -->

          <!-- Start Single Brands -->
          <li>
            <img src="assets/images/brand/hemas-logo.png" alt="Hemas" />
          </li>
          <!-- End Single Brands -->

          <!-- Start Single Brands -->
          <!-- <li>
              <img src="assets/images/brand/showtown-logo.png" alt="Showtown Entertainment">
            </li> -->
          <!-- End Single Brands -->

          <!-- Start Single Brands -->
          <li>
            <img
              src="assets/images/brand/bling-logo.png"
              alt="Bling Productions"
            />
          </li>
          <!-- End Single Brands -->

          <!-- Start Single Brands -->
          <li>
            <img src="assets/images/brand/hutch-logo.png" alt="Hutch" />
          </li>
          <!-- End Single Brands -->

          <!-- Start Single Brands -->
          <li>
            <img
              src="assets/images/brand/blue-arc-logo.png"
              alt="Blue Arc Events"
            />
          </li>
          <!-- End Single Brands -->

          <!-- Start Single Brands -->
          <li>
            <img src="assets/images/brand/techwire-logo.png" alt="Techwire" />
          </li>
          <!-- End Single Brands -->

          <!-- Start Single Brands -->
          <li>
            <img src="assets/images/brand/loons-lab-logo.png" alt="Loons Lab" />
          </li>
          <!-- End Single Brands -->

          <!-- Start Single Brands -->
          <li>
            <img src="assets/images/brand/leap-logo.png" alt="Leap" />
          </li>
          <!-- End Single Brands -->

          <!-- Start Single Brands -->
          <li>
            <img
              src="assets/images/brand/event-cloud-logo.png"
              alt="Event Cloud"
            />
          </li>
          <!-- End Single Brands -->
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End breand area -->
