<!-- Start Breadcrumb Area -->
<div class="breadcrumb-image rn-bg-color ptb--120 bg_image bg_image--1">
    <img class="cnt-img" src="./../../../assets/images/contact-us/contact-us123.jpg" alt="">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-inner pt--100">
            <h2 class="title theme-gradient breadcrumb-tf">360° Kandy Casa</h2>
            <p class="font-new-1 text-padding-new-1">
                <!--Widda is a VR Archery Game crafted mainly for the Oculus Rift. Widda in English means “The Shooter”.-->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumb Area -->

  <div class="container">
    <div class="row">
        <div class="module module-text tb_w837876 font-new-2">
            <div class="tb_text_wrap-widda">
                <h2 class="post-title" style="text-align: center; padding-top: 60px;"><strong><b>360° Kandy Casa</b></strong></h2>
                <p style="text-align: left;">Kandy Casa entertains amazing views of different surroundings. </p>
                <p style="text-align: left;">The aesthetics of Kandy Casa was built with our guests in mind. Every piece 
                    of furniture and design was carefully selected to conform to the calm, peaceful and tranquil environment 
                    in the picture. This ensures that we provide guests with extraordinary and fascinating Virtual Reality 
                    experiences.</p>

                <h2 class="post-title" style="text-align: center; padding-top: 60px;"><strong><b>How this works</b></strong></h2>
                <p style="text-align: left;">AWe capture the property with our cameras. After proper examination and transformations, 
                    your complete 3D space will be ready to explore in a high degree VR experience. You can as well include it on your 
                    websites and also share it via social media platforms.</p>
                <p style="text-align: left;">With this, you are opportune to step into space and conceptualize the flow of its rooms 
                    in a dynamic and smooth experience. We at VR Labs use the 360 scanning technique and also a capture method that is 
                    highly detail-oriented and focuses on consistency in navigation. We spend more time on-site to ensure that our 
                    product reaches its full potential to ensure we give your guests a blast and wonderful experience virtually.</p>
                <p style="text-align: left; ">&nbsp;</p>    
            </div>
        </div>
    </div>
</div>

  <div style="padding-bottom: 150px;">
    <div class="resize" id="img_container">
        <img decoding="async" src="./../../../assets/images/products/img1234.jpg" 
            width="100%" height="100%" class=" wp-post-image wp-image-592" title="logo" alt="logo"/>
        <button class="button-mid"> GOOGLE PLAY </button>
    </div>
  </div>
    
<!-- <div class="container">
    <div class="row">
        <div class="module module-text tb_w837876 font-new-2">
            <div class="tb_text_wrap-widda">
                <h2 class="post-title" style="text-align: center; padding-top: 60px;"><strong><b>360° Kandy Casa</b></strong></h2>
                <p style="text-align: left;">Kandy Casa entertains amazing views of different surroundings. </p>
                <p style="text-align: left;">The aesthetics of Kandy Casa was built with our guests in mind. Every piece 
                    of furniture and design was carefully selected to conform to the calm, peaceful and tranquil environment 
                    in the picture. This ensures that we provide guests with extraordinary and fascinating Virtual Reality 
                    experiences.</p>

                <h2 class="post-title" style="text-align: center; padding-top: 60px;"><strong><b>How this works</b></strong></h2>
                <p style="text-align: left;">AWe capture the property with our cameras. After proper examination and transformations, 
                    your complete 3D space will be ready to explore in a high degree VR experience. You can as well include it on your 
                    websites and also share it via social media platforms.</p>
                <p style="text-align: left;">With this, you are opportune to step into space and conceptualize the flow of its rooms 
                    in a dynamic and smooth experience. We at VR Labs use the 360 scanning technique and also a capture method that is 
                    highly detail-oriented and focuses on consistency in navigation. We spend more time on-site to ensure that our 
                    product reaches its full potential to ensure we give your guests a blast and wonderful experience virtually.</p>
                <p style="text-align: left;">&nbsp;</p>    
            </div>
        </div>
    </div>
</div> -->

<div class="container img-sld">
    <owl-carousel [options]="homeSlider" [carouselClasses]="['owl-theme', 'customClassName']">
        <div class="slide-item">
             <img src="https://mlqlv2ff9dvh.i.optimole.com/cqm_128-KBnPRSWC/w:1024/h:576/q:auto/https://vrlabs.lk/wp-content/uploads/2021/03/12-1.jpg" alt="">
         </div>
         <div class="slide-item">
             <img src="https://mlqlv2ff9dvh.i.optimole.com/cqm_128-tD4uUJ7c/w:800/h:500/q:auto/https://vrlabs.lk/wp-content/uploads/2021/03/11-1.jpg" alt="">
          </div>
          <div class="slide-item">
              <img src="https://mlqlv2ff9dvh.i.optimole.com/cqm_128-slWS5fLA/w:800/h:500/q:auto/https://vrlabs.lk/wp-content/uploads/2021/03/13-1.jpg" alt="">
          </div>
    </owl-carousel>
</div>
