<!-- Breadcramb Area -->
<div class="breadcrumb-area rn-bg-color ptb--120 bg_image bg_image--1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-inner pt--100">
          <h2 class="title">Services</h2>
          <ul class="page-list">
            <li class="rn-breadcrumb-item"><a routerLink="home">Home</a></li>
            <li class="rn-breadcrumb-item active">Services</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcramb Area End -->

<!-- start Services Area -->
<app-panel></app-panel>
<!-- End Services Area -->
