<!-- start Services Area -->
<div class="service-area ptb--120 bg_color--5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <span class="subtitle">What we can do for you</span>
          <h2 class="title">Our Services</h2>
          <p class="description">
            We specialize in developing Interactive Applications and Games for
            VR Units
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-12 mt--30">
        <div class="row service-main-wrapper">
          <!-- start single Services -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <!-- <a href="service-details.html"> -->
              <div class="service service__style--2 text-left">
                <div class="icon">
                  <i
                    data-feather="monitor"
                    class="fa fa-vr-cardboard text-warning sr-icons"
                  ></i>
                </div>
                <div class="content">
                  <h3 class="title">VR Game Development</h3>
                  <p>
                    Exploring new platforms and producing new kinds of creative
                    art content has become possible with Virtual Reality (VR)
                    capacities.
                  </p>
                  <p>
                    We will guide you to create a comprehensive solution and let
                    your customers play with reality.
                  </p>
                </div>
              </div>
            <!-- </a> -->
          </div>
          <!-- End single Services -->

          <!-- start single Services -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <!-- <a href="service-details.html"> -->
              <div class="service service__style--2 text-left">
                <div class="icon">
                  <i
                    data-feather="monitor"
                    class="fa fa-dice-d6 text-danger sr-icons"
                  ></i>
                </div>
                <div class="content">
                  <h3 class="title">AR Immersive Experiences</h3>
                  <p>
                    We use innovative technologies to add an interactive
                    experience to the real-world environment. We develop apps
                    including auditory, visual, and even other sensory
                    modalities.
                  </p>
                  <p>
                    With advanced AR features, we can create augmented views by
                    replacing the real ones.
                  </p>
                </div>
              </div>
            <!-- </a> -->
          </div>
          <!-- End single Services -->

          <!-- start single Services -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <!-- <a href="service-details.html"> -->
              <div class="service service__style--2 text-left">
                <div class="icon">
                  <i
                    data-feather="monitor"
                    class="fa fa-globe text-primary sr-icons"
                  ></i>
                </div>
                <div class="content">
                  <h3 class="title">Web & Mobile Development</h3>
                  <p>
                    We develop unique, feature-rich, and business-centric mobile
                    and web apps.
                  </p>
                  <p>
                    We deliver best value for money by understanding ambient
                    user-experience, seamless development process and meeting
                    deadlines
                  </p>
                </div>
              </div>
            <!-- </a> -->
          </div>
          <!-- End single Services -->

          <!-- start single Services -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <!-- <a href="service-details.html"> -->
              <div class="service service__style--2 text-left">
                <div class="icon">
                  <i
                    data-feather="monitor"
                    class="fa fa-video text-danger sr-icons"
                  ></i>
                </div>
                <div class="content">
                  <h3 class="title">360° Video & VR Walkthrough</h3>
                  <p>
                    We create 360 video content for those who want to engage
                    their audiences with highly immersive experiences
                  </p>
                  <p>
                    Mobile and VR ready tours with high quality 360° panoramic
                    photographs, integrate with Google StreetView and promote
                    your brand.
                  </p>
                </div>
              </div>
            <!-- </a> -->
          </div>
          <!-- End single Services -->

          <!-- start single Services -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <!-- <a href="service-details.html"> -->
              <div class="service service__style--2 text-left">
                <div class="icon">
                  <i
                    data-feather="monitor"
                    class="fa fa-headset text-primary sr-icons"
                  ></i>
                </div>
                <div class="content">
                  <h3 class="title">Gaming & VR Units Rental</h3>
                  <p>
                    We specialise in supplying the latest in gaming technology
                    and equipment as well as productions services for gaming
                    events
                  </p>
                  <p>
                    These rentals are an affordable option for app developers,
                    event planners, and film festivals to scale up their devices
                    for a short period
                  </p>
                </div>
              </div>
            <!-- </a> -->
          </div>
          <!-- End single Services -->

          <!-- start single Services -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <!-- <a href="service-details.html"> -->
              <div class="service service__style--2 text-left">
                <div class="icon">
                  <i
                    data-feather="monitor"
                    class="fa fa-warehouse text-warning sr-icons"
                  ></i>
                </div>
                <div class="content">
                  <h3 class="title">Virtual Events & Exhibitions</h3>
                  <p>
                    Virtual Interactive Exhibition Area with Main Stage Live
                    Broadcast & 360 Walk through with custom branding stalls
                  </p>
                  <p>
                    Virtual trade shows where exhibitors & visitors from an
                    industry meet up to exchange information, introduce new
                    products, services & trends
                  </p>
                </div>
              </div>
            <!-- </a> -->
          </div>
          <!-- End single Services -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Services Area -->
